<div class="container-fluid "  style=" background: linear-gradient(45deg, hsla(41, 96%, 31%, 0.4) 40%, hsla(181, 76%, 76%, 0.581) 52%)">
    <div class="row justify-content-center pb-5">
        <div class="col-12 col-md-8 col-lg-6">

            <h1 class="text-center text-dark p-2 mt-6"> Edita productos en stock </h1>

           {{#each data}}
          

             <form action="/produc/modificar/{{id_prod}}" method="post" enctype="multipart/form-data">
                <div class="form-group  my-3">
                    <label for="formGroupExampleInput">Nombre</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese nombre" name="nombre" value="{{nombre}}">
                </div>
                <div class="form-group my-3">
                    <label for="formGroupExampleInput2">Descripción</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingrese el detalle" name="descripcion"  value="{{descripcion}}">
                </div>
                <div class="form-group my-3">
                    <label for="formGroupExampleInput3">Cantidad disponible</label>
                    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Ingrese la cantidad en stock" name="cant_disponible" value="{{cant_disponible}}">
                </div>
                <div class="form-group my-3">
                    <label for="formGroupExampleInput4">Precio</label>
                    <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Ingrese el precio del producto: $" name="precio" value="{{precio}}">
                </div>
                <div class="form-group my-3">
                    <label for="exampleFormControlFile1">Imagen</label>
                    <input type="file" class="form-control" id="exampleFormControlFile1" name="imagen">
                    <label for="" class="mt-2">{{imagen}}</label>
                </div>
                <div class="form-group my-3">
                    <img src="{{imagen}}" class="mt-2" style="width: 100%;" alt="" id="imagenProbando">
                </div>


                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-secondary btn-block mt-5">Modificar</button>
                    <a href="/produc/listado/" class="btn btn-secondary btn-block mt-4 mb-4">Retornar</a>
                </div>

            </form>   

            {{/each}}  

        </div>
    </div>
</div>

<script>
    let archivo = document.getElementById("exampleFormControlFile1");
    let imagen = document.getElementById("imagenProbando");

    let file;

    archivo.addEventListener("change",function(){

        file = archivo.files[0];

        if(file){

            const fileReader = new FileReader();

            fileReader.addEventListener("load",function(){
                imagen.setAttribute("src",fileReader.result);
            })

            fileReader.readAsDataURL(file);
        }    
    })

</script>
